<section class="card managed-section managed-section-width-{{ section.width }} managed-section-layout-{{ section.layout }} managed-section-background-{{ section.background }}{% if section.full_bleed_background %} managed-section-full-bleed{% endif %}">
    {% if show_feature_image and site_homepage_feature_image_url %}
    <img class="homepage-feature-image" src="{{ site_homepage_feature_image_url }}" alt="{{ site_homepage_feature_image_alt }}">
    {% endif %}
    <div class="managed-section-columns">
        {% for column in section.render_columns %}
        <div class="managed-section-column">
            {% for block in column %}
                {% include "registry/blocks/block.html" %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
