{% extends "registry/base.html" %}

{% block title_suffix %} | {{ managed_page.title }}{% endblock %}

{% block content %}
<div class="managed-page managed-page-width-{{ managed_page.content_width }}">
    {% for section in managed_page.sections.all %}
        {% if section.is_visible %}
            {% if section.section_type == "separator" %}
                {% include "registry/sections/separator.html" %}
            {% elif section.section_type == "tabs" %}
                {% include "registry/sections/tabs.html" %}
            {% else %}
                {% include "registry/sections/managed.html" %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
