{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_short_title }} admin{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'registry/admin.css' %}?v=20260731-1">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
      if (window.matchMedia("(max-width: 767px)").matches) {
        localStorage.setItem("django.admin.navSidebarIsOpen", "false");
      }
    </script>
    <script src="{% static 'registry/admin_close.js' %}?v=20260721-1" defer></script>
    <script src="{% static 'registry/admin_save.js' %}?v=20260807-2" defer></script>
    <script src="{% static 'registry/admin_navigation.js' %}?v=20260718-3" defer></script>
    <script src="{% static 'registry/admin_sidebar_sections.js' %}?v=20260731-1" defer></script>
    <script src="{% static 'operations/js/clickable-operation-rows.js' %}?v=20260730-1" defer></script>
    <script>window.ratRaceAdminGate = {returnUrl: "{% url 'registry:account' %}"};</script>
    <script src="{% static 'registry/admin_viewport_gate.js' %}?v=20260716-4" defer></script>
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_short_title }} administration</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
